<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Compre sua passagem de ônibus aqui!</title>
</head>
<body>
    
    <div>
        <form method="POST">
            Nome: <input type="text" name="nome">
            E-mail: <input type="text" name="email">
            Idade: <input type="number" name="idade">
            Quantidade de malas: <input type="number" name="quantidadeDeMalas">
            <button type="submit">Finalizar compra</button>
        </form>
    </div>

</body>
</html>