<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Compre sua passagem de ônibus aqui!</title>
</head>
<body>
    
    <table th:each="onibus : ${listaOnibus}">
        <tr>
            <td><h3>Destino: </h3></td>
            <td><h3 th:text="${onibus.destino}"></h3></td>
        </tr>
        <tr>
            <td><p>Empresa: </p></td>
            <td th:text="${onibus.empresa}"></td>
        </tr>
        <tr>
            <td><p>Lugares disponíveis: </p>
            </td>
            <td align="center"><p th:text="${onibus.lugaresDisponiveis}"></p></td>
        </tr>
        <tr>
            <td>
                <span th:if="${onibus.lugaresDisponiveis > 0}"><a href="" th:attr="href=@{'cadastrar/'+${onibus.onibusId}}" >Comprar passagem</a></span>
                <span th:unless="${onibus.lugaresDisponiveis > 0}"><h4>Esgotado</h4></span>
            </td>
        </tr>
    </table>

</body>
</html>